.card__container {
    position: relative;

    width: 196px;
    height: 265px;

    border-radius: 20px;

    /* Supprimé background */
}

.card__topSection__container {
    position: absolute;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    width: 100%;
    height: 55px;

    border-radius: 20px 20px 0 0;

    /* Supprimé background-color */
}

.card__topSection__container__name {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;

    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 20px;

    /* Supprimé background-color */

    color: white;

    border-radius: 20px 20px 0 0;
}

.card__topSection__container__attSp {
    display: flex;
    flex-wrap: nowrap;

    grid-column: 1;
    grid-row: 2;

    justify-content: center;
    align-items: center;
    text-align: center;

    justify-self: start;

    font-size: 10px;

    height: 24px;
    width: 60px;

    border-radius: 0 0 20px 0;

    /* Supprimé background-color */

    color: white;
}

.card__topSection__container__types {
    grid-column: 2;
    grid-row: 2;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.card__topSection__container__defSp {
    display: flex;
    flex-wrap: nowrap;

    grid-column: 3;
    grid-row: 2;

    justify-content: center;
    align-items: center;
    text-align: center;

    justify-self: end;

    font-size: 10px;

    height: 24px;
    width: 60px;

    border-radius: 0 0 0 20px;

    /* Supprimé background-color */

    color: white;
}

.card__spriteContainer {
    padding-top: 34px;
    width: 100%;
    height: 203px;

    justify-content: center;
    align-items: center;
}

.card__spriteContainer img {
    width: 100%;
    height: 203px;

    object-fit: contain;

    justify-self: center;
    align-self: center;
}

.card__botSection__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 51px 28px;
    position: absolute;
    width: 100%;
    height: 79px;

    bottom: 0;

    border-radius: 0 0 20px 20px;
}

.card__botSection__container__offensiveStats,
.card__botSection__container__defensiveStats {
    display: flex;
    width: 100%;
    height: 100%;

    flex-wrap: wrap;

    /* Supprimé background-color */
}

.card__botSection__container__offensiveStats__att,
.card__botSection__container__offensiveStats__speed,
.card__botSection__container__defensiveStats__health,
.card__botSection__container__defensiveStats__def,
.card__topSection__container__attSp,
.card__topSection__container__defSp {
    display: flex;
    flex-wrap: nowrap;

    padding-left: 6px;

    text-align: center;

    color: white;
}

.card__botSection__container__offensiveStats__att span,
.card__botSection__container__offensiveStats__speed span,
.card__botSection__container__defensiveStats__health span,
.card__botSection__container__defensiveStats__def span,
.card__topSection__container__attSp span,
.card__topSection__container__defSp span {
    width: 20%;

    justify-self: center;
    align-self: center;
}

.card__botSection__container__offensiveStats__att img,
.card__botSection__container__offensiveStats__speed img,
.card__botSection__container__defensiveStats__health img,
.card__botSection__container__defensiveStats__def img,
.card__topSection__container__attSp img,
.card__topSection__container__defSp img {
    width: 100%;
    height: auto;
}

.card__botSection__container__offensiveStats p,
.card__botSection__container__defensiveStats p,
.card__botSection__container__defensiveStats__health p,
.card__botSection__container__defensiveStats__def p,
.card__topSection__container__attSp p,
.card__topSection__container__defSp p {
    width: 70%;

    font-size: 10px;

    justify-self: center;
    align-self: center;
}

.card__botSection__container__offensiveStats {
    grid-column: 1;
    grid-row: 1;

    border-radius: 0 20px 0 0;
}

.card__botSection__container__defensiveStats {
    grid-column: 3;
    grid-row: 1;

    border-radius: 20px 0 0 0;
}

.card__botSection__container__id {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;

    border-radius: 0 0 20px 20px;

    width: 100%;
    height: 100%;

    text-align: center;
    line-height: 31px;

    font-weight: bold;

    color: white;

    /* Supprimé background-color */
}