@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


body {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    scroll-behavior: smooth;
}

.listContainer {
    display: grid;

    grid-template-columns: 1fr 12fr 1fr;
}

.itemsContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    grid-column: 2;

    gap: 8px;

    margin-bottom: 64px;
}